<div class="card mb-3" style="direction: rtl; background: #f1f1f1;">
    <div class="row no-gutters" >
      <!-- <div class="col-md-4"> -->
        <img style="width: 50%" src="http://localhost:9207/images/{{pic.image}}" class="card-img" alt="{{pic.namePicture}}" />
      <!-- </div> -->
    </div>
      <!-- <div class="col-md-8" > -->
        <div class="card-body">
          <h5 class="card-title"><strong>{{pic.namePicture}}</strong></h5>
          <h5 class="card-title">בקטגורייה:{{pic.codeCategory}}</h5>
          <h5 class="card-title">נשארו עוד: {{pic.acountInStore}}</h5>

       <button (click)="addToB(p)">הוסף לסל קניות</button>
      <!-- </div> -->
    </div>
  </div>
