<h1 class="text-center">הוספת מוצר-תמונה</h1>
<form (ngSubmit)="addPicture()" class="fclass" action="/action_page.php" #myForm="ngForm">

    <div class="form-group">
        <label for="text">הכנס שם</label>
        <input type="text" class="form-control"  name="namePicture" [(ngModel)]="newP.namePicture"  #myName="ngModel" required pattern="[A-Za-zא-ת]*">
    </div>
    <div *ngIf="myName.invalid &&(myName.dirty || myName.touched)">
        <div class="alert-danger" *ngIf="myName.errors.pattern"> השדה חייב להכיל אותיות בלבד</div>
        <div class="alert-danger" *ngIf="myName.errors.required">שדה חובה</div>
    </div>
    <div class="form-group">
        <label for="number">בחר בקטגוריה המתאימה</label>
       <br/> <select name="category"  [(ngModel)]="newP.codeCategory">
            <option *ngFor="let c of categories" value={{c.codeCategory}}>{{c.nameCategory}}</option>
        </select>
    </div>
     <div class="form-group">
        <label for="text">הכנס גודל(תיאור)</label>
        <input type="text" class="form-control"  name="sizedPicture" [(ngModel)]="newP.size" #mySize="ngModel"  required >
    </div>
    <div class="form-group">
        <label for="text">הכנס שם תמונה</label>
        <input type="text" class="form-control"  name="imgPicture"
            [(ngModel)]="newP.image" #myImg="ngModel" required>
    </div>
 
          <div class="form-group">
            <label for="number">הכנס מחיר</label>
            <input type="number" class="form-control" name="pricePicture" [(ngModel)]="newP.price" #myPrice="ngModel" required pattern="[0-9.]*">
        </div>
       <div *ngIf="myPrice.invalid &&(myPrice.dirty || myPrice.touched)">
            <div class="alert-danger" *ngIf="myPrice.errors.pattern">מחיר לא תקין</div>
            <div class="alert-danger" *ngIf="myPrice.errors.required">שדה חובה</div>
        </div>
        <div class="form-group">
            <label for="number">הכנס כמות במלאי</label>
            <input type="number" class="form-control" name="CountPicture" [(ngModel)]="newP.acountInStore" #myCount="ngModel" required pattern="[0-9]*">
        </div>
       <div *ngIf="myCount.invalid &&(myCount.dirty || myCount.touched)">
            <div class="alert-danger" *ngIf="myCount.errors.pattern ">מחיר לא תקין</div>
            <div class="alert-danger" *ngIf="myCount.errors.required">שדה חובה</div>
        </div>


        <div class="checkbox">
            <label><input type="checkbox"> זכור אותי</label>
        </div>
        <button type="button" value="reset" (click)="myForm.reset()" class="btn btn-default">נקה</button>

        <button type="submit" class="btn btn-default" >הוסף</button>
        <!-- </div> -->
</form>
<!-- [disabled]="myForm.form.invalid" -->