<header >
   <nav></nav>
</header>
<body>
  <div class=" text-center b row "  >
<router-outlet></router-outlet>
</div>
<div class="py-4 text-center">
  <h1>שלום {{newUser.nameUser}}</h1>
  <div class="row">
  <div class="p"> <p>
    At vero eos et accusamus et iusto odio dignissimos ducimus qui
    praesentium voluptatum deleniti atque corrupti quos dolores et
    quas molestias excepturi sint occaecati cupiditate non
    provident, similique sunt in culpa nemo enim ipsam voluptatem
    quia voluptas sit qui officia deserunt mollitia animi, id est
    laborum et dolorum fuga quidem rerum facilis est distinctio.
  </p>
  <p class="p" >
    Nam libero tempore, cum soluta nobis est eligendi optio cumque
    nihil impedit quo minus id quod maxime placeat facere
    possimus, omnis voluptas assumenda est, omnis dolor
    repellendus. Quis autem vel eum iure reprehenderit qui in ea
    voluptate velit esse quam nihil molestiae consequatur.
    Temporibus autem quibusdam et aut officiis debitis aut rerum
    necessitatibus saepe eveniet ut et voluptates repudiandae sint
    et molestiae non recusandae itaque earum rerum.
  </p></div>
</div> 
</div>
</body>
