<table class="table table-dark" style="direction: rtl">
    <thead>
        <tr>
            <th style="width: 8%;"> הסר מהסל</th>
                    <th style="width: 10%;"> תמונה</th>
            <th style="width: 10%;">שם </th>
            <th style="width: 10%;">מחיר ליחידה </th>
            <th style="width: 10%;">כמות</th>
               <th style="width: 8%;"> +</th>
            <th style="width: 8%;"> -</th>
            <th style="width: 10%;">מחיר סופי </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of pInBasket">
            <td style="width: 8%;"><button (click)="delete(product.codePicture,product.finalPrice)"> X</button></td>
            <td style="width: 10%;"><img src="http://localhost:9207/images/{{product.image}}"/></td>
            <td style="width: 10%;">{{product.namePicture}}</td>
            <td style="width: 10%;">{{product.price}}</td>
            <td style="width: 10%;">{{product.count}}</td>
            <td style="width: 8%;"><button (click)="add(product)"> +</button></td>
            <td style="width: 8%;"><button (click)="less(product)"> -</button></td>
            <td style="width: 10%;">{{product.finalPrice}}</td>
        </tr>
    </tbody>
  <hr>
  <div class="text-center">
<div class="right pull-right">
    <p>מחיר סופי:{{us.finalPriceInBasket}}</p>
</div>
<div class="left">
    <a (click)="DoInviteByB()" class="btn btn-success pull-right">בצע קניה</a>
</div>
  </div>

</table>
  